<div ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card ng-if="$odd" ng-repeat="item in items track by $index">
        <div>
          <div class='content-card-box'>
            <img class='user-card-profile-photo' src='/assets/{{item.username}}.png' width='36' height='36'>
            <div class="content-card-title">
              <span class="content-card-username">{{item.username}}</span>
            </div>
            <div class="content-card-date-box">
              <span class="content-card-date-title">{{item.createdAt}}</span>
            </div>                
          </div>

          <div class='ELUvyf'>
            <div class='fu533b'>
              <div class='wftCae'>
                {{item.text}}
              </div>
            </div>
          </div>

          <div class='videoWrapper' ng-show='item.youtubeUrl'>
            <iframe src="https://www.youtube.com/embed/7SRatMWSxn4" frameborder="0" allowfullscreen></iframe>
          </div><!--Comment Video-->

          <div class='videoWrapper' ng-show='item.photoUrl'>
            <img style='position:absolute; top:0; bottom: 0; width:100%; height:100%;' src="{{item.photoUrl}}"></iframe>
          </div><!--Comment Video-->

          <div class='ELUvyf'>
            <div class='content-card-others-box' layout='row'>
              <div class='KRktze'>
                <span class='GsLz7c'>
                  +1
                </span>
              </div><!--Comment like button-->
              <div class='content-card-like-text'>
                <span>{{item.like}}</span>
              </div><!--Comment like Count-->
              <div style='flex-grow: 1; flex-shrink: 1'></div>  
              <div class='KRktze' ng-click = "inputComment = !inputComment;">
                <span class='GsLz7c'>
                  Re
                </span>
              </div><!--Comment show button-->
              <div class='content-card-like-text'>
                <span>{{item.comments.length}}</span>
              </div>
            </div>  
          </div>
          
          <div ng-show="inputComment">
            <div class='test' ng-repeat='comment in item.comments' style="border-top: 1px solid #EEEEEE;">
              <div class='content-card-box'>
                  <div>
                    <img class='user-card-profile-photo' src='/assets/{{comment.username}}.png' width='36' height='36'>         
                  </div><!--Comment User Picture Part-->

                  <div class='content-card-comments'>
                    <span style='font-weight: bold;'>{{comment.username}}: </span><span>{{comment.comment}} </span>  
                  </div><!--Prev Comment text Part-->
              </div><!--Prev Comment inner box-->
            </div><!--Prev Comment Repeat-->
            <div style="border-top: 1px solid #EEEEEE;">
              <div class='content-card-box'>
                <img class='user-card-profile-photo' src='/assets/{{item.username}}.png' width='36' height='36'>
                <md-input-container class="content-card-title content-card-comments" style='margin-top: 20px;'>
                  <label>Comments</label>
                  <input type='text'>
                </md-input-container><!--Comment input-->
              </div><!--Comments input inner box-->
            </div><!--Comment input box-->
          </div><!--Comment box-->

        </div>
      </md-card>
    </div>

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card ng-if="$even" ng-repeat="item in items track by $index">
        <div>
          <div class='content-card-box'>
            <img class='user-card-profile-photo' src='/assets/{{item.username}}.png' width='36' height='36'>
            <div class="content-card-title">
              <span class="content-card-username">{{item.username}}</span>
            </div>
            <div class="content-card-date-box">
              <span class="content-card-date-title">{{item.createdAt}}</span>
            </div>                
          </div>

          <div class='ELUvyf'>
            <div class='fu533b'>
              <div class='wftCae'>
                {{item.text}}
              </div>
            </div>
          </div>

          <div class='videoWrapper' ng-show='item.youtubeUrl'>
            <iframe src="https://www.youtube.com/embed/7SRatMWSxn4" frameborder="0" allowfullscreen></iframe>
          </div><!--Comment Video-->

          <div class='videoWrapper' ng-show='item.photoUrl'>
            <img style='position:absolute; top:0; bottom: 0; width:100%; height:100%;' src="{{item.photoUrl}}"></iframe>
          </div><!--Comment Video-->

          <div class='ELUvyf'>
            <div class='content-card-others-box' layout='row'>
              <div class='KRktze'>
                <span class='GsLz7c'>
                  +1
                </span>
              </div><!--Comment like button-->
              <div class='content-card-like-text'>
                <span>{{item.like}}</span>
              </div><!--Comment like Count-->
              <div style='flex-grow: 1; flex-shrink: 1'></div>  
              <div class='KRktze' ng-click = "inputComment = !inputComment;">
                <span class='GsLz7c'>
                  Re
                </span>
              </div><!--Comment show button-->
              <div class='content-card-like-text'>
                <span>{{item.comments.length}}</span>
              </div>
            </div>  
          </div>
          

          <div ng-show="inputComment">
            <div class='test' ng-repeat='comment in item.comments' style="border-top: 1px solid #EEEEEE;">
              <div class='content-card-box'>
                  <div>
                    <img class='user-card-profile-photo' src='/assets/{{comment.username}}.png' width='36' height='36'>         
                  </div><!--Comment User Picture Part-->

                  <div class='content-card-comments'>
                    <span style='font-weight: bold;'>{{comment.username}}: </span><span>{{comment.comment}} </span>  
                  </div><!--Prev Comment text Part-->
              </div><!--Prev Comment inner box-->
            </div><!--Prev Comment Repeat-->
            <div style="border-top: 1px solid #EEEEEE;">
              <div class='content-card-box'>
                <img class='user-card-profile-photo' src='/assets/{{item.username}}.png' width='36' height='36'>
                <md-input-container class="content-card-title content-card-comments" style='margin-top: 20px;'>
                  <label>Comments</label>
                  <input type='text'>
                </md-input-container><!--Comment input-->
              </div><!--Comments input inner box-->
            </div><!--Comment input box-->
          </div><!--Comment box-->

        </div>
    </div>

  </md-content>
</div>