<div ng-controller="MainController" layout="column" style="height: 500px;" ng-cloak >
   <md-toolbar class="md-hue-2" style="background-color:#d32f2f">
      <div class="md-toolbar-tools" >
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <i class="material-icons" style="color: #ffffff;" ng-click="toggleLeft()">sort</i>
        </md-button>
        <h2 flex='25' md-truncate>Hooli+</h2>

        <form ng-submit="$event.preventDefault()" flex='50'>
          <md-autocomplete
              md-items=""
              placeholder="찾고싶은게 있으신가요?"
              md-menu-class="autocomplete-custom-template">
          </md-autocomplete>
        </form>

        <md-button class="md-icon-button" flex='25'  ng-controller="AuthController" ng-click="showAdvanced($event)">
          <i class="material-icons">person_outline</i>
        </md-button>

      </div>
    </md-toolbar>

  <section layout="row" flex >
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo" style="background-color:#e53935">
        <h1 class="md-toolbar-tools">
          <i class="material-icons" style="color: #ffffff;" ng-click="toggleLeft()">sort</i>
        </h1>
      </md-toolbar>

      <md-content layout-margin>
        <div class="hoolilist"><i class="material-icons center">home</i><span>홈</span></div>
        <div class="hoolilist"><i class="material-icons center">library_books</i><span>소식모음</span></div>
        <div class="hoolilist"><i class="material-icons center">supervisor_account</i><span>Hooli+ 가입</span></div>
         <md-divider></md-divider>
        <div class="hoolilist"><i class="material-icons center">sms_failed</i><span>의견 보내기</span></div>
        <div class="hoolilist"><i class="material-icons center">help_outline</i><span>도움말</span></div>
        <div class="hoolilist" ng-click="toggleLeft()"><i class="material-icons center">keyboard_backspace</i><span>닫기</span></div>

      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>
      <div layout="column" layout-align="top center">
      </div>
    </md-content>
  </section>

</div>
