<!--회원가입 팝업입니다.-->
<md-dialog aria-label="signup" ng-controller="AuthController">
  <form ng-cloak name="signupForm" ng-submit="signup()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>SIGN UP</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    
    <md-content layout-padding>
      <md-input-container>
        <label>아이디</label>
        <input required name="id" ng-model="user.username">
        <div ng-messages="signupForm.id.$error">
          <div ng-message="required">필수항목</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>비밀번호</label>
        <input required type="password" name="password" ng-model="user.password">
        <div ng-messages="signupForm.password.$error">
          <div ng-message="required">필수항목</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>이메일</label>
        <input type="email" name="email" ng-model="user.email">
      </md-input-container>

    </md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel()">
       취소
      </md-button>
      <md-button class="md-raised md-primary" ng-click="signup()">
        가입신청
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
